html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* background color body #FFFFFF
 background color section #E5E5E5
 color primary text, color contact #757575
 coloe title text, color link #212121
 background color hero hw1 #2F303A 
 link hover, contact hover  #2196F3*/

body {
  background-color: #ffffff;
  color: #757575;

  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

:root {
  --text-primary-color: #757575;
  --text-title-color: #212121;
  --text-nav-color: #2196f3;
  --background-button: #f5f4fa;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
/* ------------HEADER-------------*/
.header {
  align-items: center;
  padding: 0 15px;

  border-bottom: 1px solid #ececec;
  letter-spacing: 0.02em;
}
.header-container {
  display: flex;
}
.header ul {
  line-height: 1.2;
}
/* site list */
.header-nav {
  display: flex;
}
/* ------------LOGO NAV AND FOOTER------------- */
.logo {
  padding: 24px 0 25px 0;

  font-family: "Raleway";
  font-size: 26px;
  color: #000000;

  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo .blue {
  color: var(--text-nav-color);
}

/*------------HEADER SITE NAV-------------*/
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .site-list + .site-list {
  margin-left: 50px;
}
.site-list {
  display: block;
  padding: 32px 0 32px 0;
}
.site-nav .link {
  font-weight: 500;
  text-decoration: none;
  color: var(--text-title-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--text-nav-color);
}
.site-nav .link-current {
  font-weight: 500;
  text-decoration: none;
  color: var(--text-nav-color);
}
/* ------------HEADER CONTACT------------- */
.contact {
  display: flex;
  margin-left: auto;
  padding: 32px 0 32px 0;
}
.contact .contact-list + .contact-list {
  margin-left: 50px;
}
.contact .contact-nav {
  color: var(--text-primary-color);

  text-decoration: none;
  font-weight: 500;
}
.contact .contact-nav:hover,
.contact .contact-nav:focus {
  color: var(--text-nav-color);
}
/*------------ MAIN HERO СТУДІЯ-------------*/
.main .hero {
  background-color: #2f303a;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  min-height: 600px;

  letter-spacing: 0.06em;
  text-align: center;
}
.container-hero {
  padding-left: 237px;
  padding-right: 237px;
}

.hero-title {
  padding-left: 42px;
  margin-bottom: 30px;
  max-width: 696px;
  color: #ffffff;

  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;

  text-transform: uppercase;
}
.hero-buttom {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid var(--text-nav-color);
  padding: 10px 32px;

  min-height: 50px;

  background-color: var(--text-nav-color);
  color: var(--background-button);

  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  line-height: 1.9;
}
.hero-buttom:hover,
.hero-buttom:focus {
  border: 1px solid #188ce8;
  background-color: #188ce8;
  color: #fff;
}
/* ------------MAIN BENEFITS СТУДІЯ-------------*/

.benefits-list {
  display: flex;
}
.list-benefits {
  width: 270px;
}
.benefits-list .list-benefits + .list-benefits {
  margin-left: 30px;
}
.benefits .benefits-title {
  color: var(--text-title-color);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}
.benefits-title {
  margin-bottom: 10px;
}
.list-paragraph {
  line-height: 1.7;
}
/* ------------MAIN WORK СТУДІЯ-------------*/
.work {
  padding-top: 0;
}

.work h2,
.team h2 {
  margin-bottom: 50px;

  text-align: center;
  color: var(--text-title-color);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}
.work-title {
  display: flex;
}
.work-title .title-list + .title-list {
  margin-left: 30px;
}
/* ------------MAIN TEAM СТУДІЯ-------------*/
.team {
  background-color: #f5f4fa;
}
.team-title {
  display: flex;
}
.team-title .team-list + .team-list {
  margin-left: 30px;
}
.team-list {
  padding-bottom: 30px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  text-align: center;

  font-weight: 400;
  font-size: 16px;
}
.team-list > .list-name {
  color: var(--text-title-color);
  font-weight: 500;
}
.list-name {
  margin-top: 30px;
  margin-bottom: 10px;
}
/*------------FOOTER-------------*/
.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;

  line-height: 1.7;

  background-color: #2f303a;
  color: #fff;
}
.footer-logo {
  font-family: "Raleway";
  font-size: 26px;

  color: #fff;
  text-decoration: none;
}
.footer-logo .blue {
  margin: 0;
  padding: 0;

  color: var(--text-nav-color);
}
.fooret-address {
  font-style: normal;
}
.paragraph {
  margin-top: 20px;
  display: block;
}
.footer-list {
  margin-top: 9px;
}
.list {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer ul {
  font-style: normal;
}
/* ------------MAIN PORTFOLIO-------------*/
.project {
  font-size: 16px;
  line-height: 1.9;
}
/* ------------PORTFOLIO BUTTOM------------*/
.project-item {
  display: flex;
  justify-content: center;
}
.project-item .project-list + .project-list {
  margin-left: 8.01px;
}
.list-buttom {
  border-radius: 4px;
  border: 1px solid var(--background-button);
  min-height: 38px;
  padding: 6px 22.02px;

  background-color: var(--background-button);
  color: var(--text-title-color);

  font-family: inherit;
  font-weight: 500;
  line-height: 1.6;

  cursor: pointer;
}

.list-buttom:hover,
.list-buttom:focus {
  border: 1px solid var(--text-nav-color);
  background-color: var(--text-nav-color);
  color: #fff;
}
/* ------------PORTFOLIO PROJECT------------- */
.project > .container {
  padding: 0;
}
.list-project {
  display: flex;
  flex-wrap: wrap;

  padding-top: 50px;
}

.project-picture {
  margin-right: 30px;
  margin-bottom: 30px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.project-picture:nth-child(3n) {
  margin-right: 0;
}
.project-picture:nth-child(-n + 3) {
  margin-bottom: 30px;
}
.card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24.02px;
}
/* .list-title {
  margin-top: 20px;
  margin-bottom: 4px;
} */
.project .list-title {
  color: var(--text-title-color);

  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}
